.Select-menu-outer {
    width: 100% !important; /* This forces the dropdown content to always be as wide as the dropdown itself */
}

.Select--single > .Select-control .Select-value .Select-value-label,
.Select--multi .Select-value-label {
    font-weight: bold; /* This makes the text bold */
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will hide the scrollbar */
    height: 100vh; /* This sets the height of the viewport */
}

#content {
    height: calc(100vh - 50px); /* Adjust the 50px if you have a header/footer */
    overflow: auto; /* This will allow internal div to scroll if needed */
}