.Select-menu-outer {
    width: 100% !important; /* This forces the dropdown content to always be as wide as the dropdown itself */
}

.Select--single > .Select-control .Select-value .Select-value-label,
.Select--multi .Select-value-label {
    font-weight: bold; /* This makes the text bold */
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will hide the scrollbar */
    height: 100vh; /* This sets the height of the viewport */
}

#content {
    height: calc(100vh - 50px); /* Adjust the 50px if you have a header/footer */
    overflow: auto; /* This will allow internal div to scroll if needed */
}

.character-box:hover {
    font-weight: bold;
}

.custom-dropdown:hover {
    background-color: #e8f0fe; /* Slightly lighter background to indicate hover */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* Subtle shadow to lift the dropdown */
}

.custom-button:hover {
    background-color: #0056b3; /* Darker shade for hover state */
    transform: scale(1.05); /* Scale button for hover state */
    transition: background-color 0.2s, transform 0.2s; /* Smooth transition for hover effect */
}
